<div class="manager-header">
    <div class="slim-pageheader">
        <ol class="breadcrumb slim-breadcrumb">

        </ol>
        <h6 class="slim-pagetitle">File Manager / {{ monthName }} {{ year }}</h6>
    </div><!-- slim-pageheader -->
    <a id="managerNavicon"  href="" class="contact-navicon"><i class="icon ion-navicon-round"></i></a>
</div><!-- manager-header -->