<div id="form" class="section-wrapper">

     <div class="row">
         <div id="budget_form_content" class="col-12 align-items-center justify-content-center">
             <label class="section-title">Create budget for {{ monthName }} {{ year }}</label>
             <p class="mg-b-20 mg-sm-b-40">Create your monthly budget to control your finances!</p>
         </div>
     </div>

</div>

<div class="row mg-t-20">
     <div class="col-12">
         <form>
             <input type="submit" id="done" class="btn btn-secondary btn-block bd-0" disabled="disabled" value="Done!">
         </form>
     </div>
</div>
