{% if alert is defined and alert is not null %}
    <div class="alert alert-{{ alert[0] }}" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        {{ alert[1] }}
    </div>
{% endif %}