<div class="slim-footer">
    <div class="container">
        <p>Copyright 2018 &copy; All Rights Reserved.</p>
        <p>Created by: <a href="mailto: kontakt@pawelplatek.pl">Paweł Płatek</a></p>
    </div>
</div>