<div class="slim-navbar">
    <div class="container">

        <ul class="nav">
            <li id="link-homepage" class="nav-item">
                <a class="nav-link" href="{{ path('dashboardMain') }}">
                    <i class="icon ion-ios-home-outline"></i>
                    <span>Dashboard</span>
                </a>
            </li>
            <li id="link-budget" class="nav-item">
                <a class="nav-link" href="{{ path('budgetMain') }}">
                    <i class="icon ion-ios-settings-strong"></i>
                    <span>Budget</span>
                </a>
            </li>
            <li id="link-transactions" class="nav-item">
                <a class="nav-link" href="{{ path('transactionsMain') }}">
                    <i class="icon ion-card"></i>
                    <span>Transactions</span>
                </a>
            </li>
            <li id="link-filemanager" class="nav-item">
                <a class="nav-link" href="{{ path('fileManagerMain') }}">
                    <i class="icon ion-ios-filing-outline"></i>
                    <span>File Manager</span>
                </a>
            </li>
        </ul>

    </div>
</div>